/*-------GENERAL---------*/
.divider {
    width: 100px;
    height: 2px;
    border-radius: 5%;
    background:rgb(238, 16, 9);
    margin: 0 auto;
}
p {
    font-size: 0.8rem;
    text-align: center;
}
.list-doc  {
    font-size: small;
    list-style: none;
}
h4{
    color: #1565c0;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 25px;

}

@media screen and (min-width:768px){
    .divider {
        width:160px;
    }
    p {
        font-size: 1rem;
    }
    .list-doc{
        font-size: 1rem;
    }
    h4 {
        font-size: 1rem;
    }
    
}



/*--------NAVBAR------------*/
nav {
    background:#1565c0;
    border-bottom: 1px solid #fff;
}
.logo-club {
    width: 30px;
}

/*---------HEADER----------*/
header {
    background: linear-gradient(#1565c0, white);
    height: 250px;
    border-bottom: 1px solid #1565c0;
    position: relative;
    top: 60px;
}
.title-1 {
    text-align: center;
    font-size: 1.4rem;
}
.sitation {
    font-size: 0.6rem;
    text-align: center;
}
.logo-header {
    width: 185px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 768px){
    
    header {
        height: 320px;
    }
    
    .title-1 {
        font-size: 4rem;
    }
    .sitation {
        font-size: 1.3rem;
    }
    
}
/*-------------ASIDE--------------*/
.aside {
    text-align: center;
    color: #1565c0;
    font-size: 1rem;
    margin-top: 60px;
}

@media screen and (min-width:768px){
    .aside {
        font-size: 1.2rem;
    }
    aside {
        margin:0 auto;
    }
    
}
/*------------CONTENT---------------*/

.title-2 {
    text-align: center;
    color:#1565c0 ;
    font-size: 1rem;
    margin-top: 35px;
}

/*----------ACTUALITES-----------*/
.card-img-top{
        display: none;
    }
    .card-text {
        font-size: 0.6rem;
    }
    .card-title {
        font-size: 0.8rem;
        color: #1565c0;
    }

@media screen and (min-width:768px){
    #actu {
        margin-top: 60px;
    }
    .title-2 {
        font-size: 2.3rem;
    }
    .card-img-top{
        display: block;
    } 
    .card-text {
        font-size: 1rem;
    }
    .card-title {
        font-size: 1.1rem;
        
    }
}
/*------------LE CLUB--------------*/
.memberOffice ul li {
    list-style: none;
   font-size: 0.6rem;
}
.colunms{
    display: flex;
}   
.office {
    text-align: center;
} 


sup {
    font-size: 0.4;
}
@media screen and (min-width:768px){
    .memberOffice ul li {
        font-size: 1rem;
    }
}

/*----------LES COURS----------*/
.card {
    margin-top: 60px;
}
.card-footer {
    font-size: 0.8rem;
}
#courtSchedule, th, td{
    width: 60%;
    border-collapse: collapse;
    border: 1px solid black;
    margin:0 auto;   
  } 
  .taiso {
      list-style: none;
      font-size: 0.6rem;
  }
  @media screen and (min-width:768px){
      .taiso {
          font-size: 1rem;
      }
  }
 
  
  #Tableau {
     text-align:center ;
      color:#1565c0 ;
     text-transform: capitalize;
     cursor:pointer; 
     margin-top: 30px;
  }
  #lesHoraires{
      display: none;
      margin-top: 35px;
  }
  
  td{
      font-size: 0.8rem;
     
      letter-spacing: 1.5px;
  }
  .ciant{
      background-color: rgba(3, 211, 211, 0.835);
  }
  .bleu{
      background-color: #1565c0;
      color: #fff;
  }
  @media screen and (min-width:768px) {
    .card-footer {
    font-size: 1.2rem;
}
td {
    font-size: 1rem;
}
}
  /*-----------LES CIENTURES-----------*/
.courage {
    text-align: center;
}
.epreuve{
    color: #1565c0;
}
/*----------CONTACT--------*/
.facebook {
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
/*---------EVENEMENTS--------*/
.event {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 60px;
}
.cards {
    display: none;
}
@media screen and (min-width:768px){
    .event {
        font-size: 1rem;
    }
    .cards {
        display: block;
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    
}
/*---------FOOTER-----------*/
footer {
    background: #1565c0;
    height: 50px;
    width: 100%;
}
footer p {
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    letter-spacing: 2px;
    font-size: 0.6rem;
}
@media screen and (min-width:768px){
    footer p {
        font-size: 1rem;
    }
}
