/*-------GENERAL---------*/
.divider {
    width: 100px;
    height: 2px;
    border-radius: 5%;
    background:rgb(238, 16, 9);
    margin: 0 auto;
}
p {
    font-size: 0.8rem;
}
ul ol li {
    font-size: small;
}

@media screen and (min-width:768px){
    .divider {
        width:160px;
    }
    p {
        font-size: 1rem;
    }
     ul ol li {
        font-size: 1rem;
    }
    
}



/*--------NAVBAR------------*/
nav {
    background:rgb(51, 108, 231);
    border-bottom: 1px solid #fff;
}
.logo-club {
    width: 30px;
}

/*---------HEADER----------*/
header {
    background: linear-gradient(rgb(51, 108, 231), white);
    height: 250px;
    border-bottom: 1px solid rgb(51, 108, 231);
    position: relative;
    top: 60px;
}
.title-1 {
    text-align: center;
    font-size: 1.4rem;
}
.sitation {
    font-size: 0.6rem;
    text-align: center;
}
.logo-header {
    width: 185px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 768px){
    
    header {
        height: 320px;
    }
    
    .title-1 {
        font-size: 4rem;
    }
    .sitation {
        font-size: 1.3rem;
    }
    
}
/*-------------ASIDE--------------*/
.aside {
    text-align: center;
    color: rgb(51, 108, 231);
    font-size: 1rem;
    margin-top: 60px;
}
@media screen and (min-width:768px){
    .aside {
        font-size: 1.6rem;
    }
    aside {
        margin:0 auto;
    }
    
}
/*------------CONTENT---------------*/

.title-2 {
    text-align: center;
    color:rgb(51, 108, 231) ;
    font-size: 1rem;
    margin-top: 35px;
}

/*----------ACTUALITES-----------*/
.card-img-top{
        display: none;
    }
    .card-text {
        font-size: 0.6rem;
    }

@media screen and (min-width:768px){
    #actu {
        margin-top: 50px;
    }
    .title-2 {
        font-size: 2.3rem;
    }
    .card-img-top{
        display: block;
    } 
    .card-text {
        font-size: 1rem;
    }
}
/*------------LE CLUB--------------*/
.memberOffice ul li {
    list-style: none;
   font-size: 1rem;
}
.colunms{
    display: flex;
}   
.office {
    text-align: center;
}